.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#div_top_hypers {
  background-color:#b142d0;
  display: flex;
  width: auto !important;
}

#ul_top_hypers li{
  display: inline;
  font-size: 16px !important;
  font-weight: 500;
  padding-right: 12px;
  cursor: pointer;
}

#ul_top_hypers li:hover {
  color: white !important;
}

.navbarrightmenu {
  float: right !important;
}

.navbarleftmenu {
  float: left !important;
}

#logindiv {
  border: 1px solid black;
  width: 600px;
  border-radius: 10px;
  text-align: center;
  justify-content: center !important;
  margin: auto;
  margin-top: 50px;
  background-color: white;
  padding: 20px;
}

input,select {
  width: 100%;
  padding: 12px 20px;
  margin: 5px !important;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#signin{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#signin:hover{
  background-color: #45a049;
}

.createButton {
  float: right;
  width: 80px;
  margin: 5px;
  border-radius: 10px;
  border-color: white;
  background-color: rgb(84, 216, 84);
  height: 30px;
  color: black;
  font-weight: 550;
  cursor: pointer;
}

.backButton {
  float: left;
  width: 80px;
  margin: 5px;
  border-radius: 10px;
  border-color: white;
  height: 30px;
  color: black;
  font-weight: 550;
  cursor: pointer;
}

.leftboardermenu{
  border: 1px solid white;
  min-width: 100px;
  max-width: 250px;
  width: 160px;
  position: absolute;
  left: 0;
  height: 100% !important;
  background-color: #1976d2;
  display: flex;
}

.leftboardermenu li{
  font-size: 16px !important;
  font-weight: 500;
  padding: 12px;
  color: white;
  cursor: pointer;
}

#locationnew{
  width: 100%;
  padding: 12px 20px;
  margin: 5px !important;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#location{
  width: 25%;
  padding: 12px 20px;
  margin: 5px !important;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;
  height: 30px;
}

.feedbox {
  border: 1px solid black;
  width: 600px !important;
  border-radius: 10px;
  text-align: center;
  justify-content: center !important;
  margin: auto;
  margin-top: 50px;
  background-color: white;
  justify-content: center;
  padding: 20px;
}